<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<div id="prodResult">
  <h2 id="prodName"></h2>
  <p id="prodDesc"></p>
  <p id="prodInventory"></p>
  <p id="prodPrice"></p>
</div>
 
<script type="text/javascript" charset="utf-8">
  
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault()
      var values = $(this).serialize()
      var posting = $.post('/products', values)
      posting.done(function(data) {
        $("#prodName").text(data["name"])
        $("#prodDesc").text(data["description"])
        $("#prodPrice").text(`$${data["price"]}`)
        $("#prodInventory").text(data["inventory"])
        // data.orders.map(order => {return order.name})
        // $("#prodOrders").text(product.orders)
      })
    })
  })
</script>
